ErrorDocument 401 /errors/401.php
ErrorDocument 404 /errors/404.php
ErrorDocument 403 /errors/403.php
php_value upload_max_filesize 50M
php_value post_max_size 52M
RewriteRule ^cache/.*\.(htaccess|htpasswd|ini|phps?|fla|psd|log|sh|zip|exe|pl|jsp|asp|htm|sh|cgi|py)$ - [F]
